<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    
    <title>Pitchr - {{ title }}</title>
</head>
<body>
<header class="site-header">
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container">
      <a style="text-transform: uppercase;" class="navbar-brand mr-4" href="/">Pitchr</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          <a style="text-transform: uppercase;" class="nav-item nav-link" href="{{ url_for('main.index')}}">Home</a>
          <a style="text-transform: uppercase;" class="nav-item nav-link" href="{{ url_for('main.index')}}">About</a>
        </div>
         <!-- Navbar Right Side -->
         <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_authenticated %}
          <li><a href="{{url_for('main.new_pitch')}}">Post a Pitch</a></li>
          <li><a href="{{url_for('main.profile', name = current_user.username)}}">{{current_user.username}}</a></li>
          <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
          {% else %}
          <li><a href="{{url_for('auth.login')}}">Sign in</a></li>
          <li><a href="{{url_for('auth.register')}}">Register</a></li>
          {%endif%}
        </ul>
 
      </div>
    </div>

  </nav>
</header>
<main style="margin: 0;" role="main" class="container">
  <div class="row">
   <div style="margin-top: 20px;" class="col-md-8">
    <p class='text-muted'>One minute can make or break you.</p>
    {% with messages = get_flashed_messages(with_categories = True) %}
    {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{category}}">
       {{ message}}
      </div>
    {% endfor %}
    {% endif %}
   {% endwith %}
    {% block content %}
    {% endblock %}
   </div>
    <div style="background-color: black; color: whitesmoke; height: calc(100vh - 60px); float: left;" class="col-md-4">
      <div class="content-section">
        <h3>Pitch Category</h3>
       
          <ul>
              <!-- create picth links -->
            <li>Interviews</li>
            <li>Promotion</li>
            <li>Pickup Lines</li>
            <li>Product</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</main>
<!-- <footer style="bottom: 0; position: fixed; background-color: black; color: white; width: 100vw; text-align: center;">
    <p>Joy Mbugua - 2021</p>
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
</footer> -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>