{% extends 'base.html'%}
{% block content %}
{%for pitch in pitches %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
        <a class="mr-2" href="#">{{ pitch.user.username }}</a>
        <small class="text-muted">{{ pitch.date_posted.strftime('%Y-%m-%d') }}</small>
        {% if pitch.user == current_user %}
        <small class="text-muted"><a href="{{ url_for('main.pitchupdate', id = pitch.id)}}">Edit</a></small>
        <small class="text-muted" data-toggle="modal" data-target="#deleteModal">Delete</small>
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLabel">Are you sure?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Cancel</button>
                  <form action="{{url_for('main.delete', id = pitch.id)}}" method="POST">
                      <input class="btn btn-danger btn-sm" type="submit" value="Delete">
                  </form>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        </div>
        
        <p class="article-content">{{ pitch.post }}</p>
       <div style="display: flex;" class="actions">
        <small class="text-muted">Upvote</small>      
        <small class="text-muted">Downvote</small>
   
        <small class="text-muted"><a class="ml-2" href="{{url_for('main.comment', id = pitch.id)}}">Comment</a></small>
       </div>
       <div class="comments">
           <h3>Comments({{ pitch.comments.count() }})</h3>
           {% for comment in comments %}
           <div class="article-metadata">
            <a class="mr-2" href="#">{{ comment.user.username }}</a>
            <small class="text-muted">{{ comment.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <p>{{ comment.content }}</p>
           {% endfor %}
       </div>
    </div>
    </article>
    
{% endfor %}
{% endblock %}